
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483891922555'); /* IE9*/
  src: url('iconfont.eot?t=1483891922555#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483891922555') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483891922555') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483891922555#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-canlendar:before { content: "\e600"; }

.icon-add:before { content: "\e622"; }

.icon-set:before { content: "\e6b2"; }

.icon-fahuo:before { content: "\e621"; }

.icon-delete:before { content: "\e62b"; }

.icon-bianji:before { content: "\e670"; }

.icon-jingshi:before { content: "\e6f1"; }

.icon-exchange:before { content: "\e624"; }

.icon-baiduqianbao:before { content: "\e701"; }

.icon-zhengcewenjian:before { content: "\e747"; }

.icon-print:before { content: "\e605"; }

.icon-aa:before { content: "\e62f"; }

.icon-search:before { content: "\e601"; }

.icon-jingliqiandan:before { content: "\e603"; }

.icon-close:before { content: "\e604"; }

.icon-save:before { content: "\e606"; }

.icon-next:before { content: "\e607"; }

